* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
}
.logo {
  padding: 16px 40px;
  cursor: pointer;
}
nav {
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  margin: auto;
  justify-content: space-between;
  align-items: center;
}
.menu {
  display: flex;
  list-style: none;
  gap: 32px;
}
.menu a {
  text-decoration: none;
  color: #000000;
  font-weight: 16px;
  font-weight: Medium;
}
.btn button {
  font-size: 16px;
  font-weight: SemiBold;
  padding: 12px 16px;
  background-color: #469165;
  color: #ffffff;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  margin-right: 40px;
}
#hero {
  background-image: url("./assets/hero-bg.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  max-width: 1600px;
  margin: 0 auto;
  padding: 0 40px;
  height: 674px;
}
/* .hero-.overlay {
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.6);
  display: flex;
  justify-content: center;
  align-items: center;
} */
.hero-content {
  max-width: 1360px;
  margin: 0 auto;
  padding: 0 40px;
  padding-top: 150px;
  padding-bottom: 150px;
  text-align: center;
}
.up-btn {
  font-size: 16px;
  font-weight: Medium;
  border: none;
  color: #276941;
  cursor: pointer;
  border-radius: 1000px;
  padding: 8px 12px;
  margin-top: 24px;
  margin-bottom: 24px;
}
.hero-content h1 {
  font-size: 72px;
  font-weight: Bold;
  color: #ffffff;
  line-height: 84px;
  margin-bottom: 16px;
}
.hero-content h1 span {
  color: #469165;
}
.hero-content p {
  font-size: 18px;
  color: #ffffff;
  line-height: 24px;
  font-weight: Regular;
}
.hero-content .btn {
  margin-top: 32px;
}
.hero-content .play-btn {
  background-color: transparent;
  color: #ffffff;
  border: 1px solid #ffffff;
  margin-right: 16px;
}
.container {
  max-width: 1360px;
  margin: 0 auto;
  padding: 0 40px;
  text-align: center;
}
.feature-content h2 {
  font-size: 48px;
  font-weight: Bold;
  color: #001931;
  margin: 36px 16px;
}
.feature-content p {
  font-size: 16px;
  color: #627382;
  line-height: 20px;
  font-weight: Regular;
  margin: 44px;
}
.feature-card {
  display: flex;
  align-items: center;
  gap: 32px;
}
.feature-card h3 {
  font-size: 17px;
  font-weight: 600;
  color: #001931;
  /* margin: 16px 24px; */
  margin-top: 16px;
  padding: 0 24px;
}
.feature-card p {
  font-size: 16px;
  color: #627382;
  line-height: 20px;
  font-weight: Regular;
  margin-top: 16px;
}
.feature-card .card {
  background-color: #ffffff;
  padding: 32px;
  border-radius: 8px;
  box-shadow: 0px 0px 8px 0px rgb(0, 0, 0, 0.1);
  width: 322px;
  height: 300px;
  text-align: center;
  cursor: pointer;
}
.feature-card .card img {
  width: 60px;
  margin-bottom: 16px;
}

#Solution-Container {
  max-width: 1360px;
  margin: 120px;
  display: flex;
  gap: 60px;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
}
.solution-left img {
  border-radius: 12px;
  width: 100%;
}
.solution-right {
  max-width: 700px;
  margin: 0 auto;
  padding: 0 40px;
}
.solution-right h6 {
  font-weight: 16px;
  font-weight: Medium;
  color: #30b868;
  margin: 60px 0 16px;
  line-height: 20px;
}
.solution-right h2 {
  font-size: 48px;
  font-weight: Bold;
  color: #001931;
  margin-bottom: 16px;
}
.solution-right p {
  font-size: 16px;
  color: #627382;
  line-height: 20px;
  font-weight: Regular;
  margin-bottom: 40px;
}
.solution-right ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.solution-right ul li {
  font-size: 16px;
  color: #001931;
  line-height: 20px;
  font-weight: Medium;
  margin-bottom: 8px;
}
.solution-right ul li i {
  color: #30b868;
  margin-right: 6px;
}
#Container {
  max-width: 1360px;
  margin: 0 auto;
  padding: 0 40px;
}
.down-partContent {
  width: 1280px;
  margin: 0 auto;
  padding: 0 40px;
  background-color: #f7f6f2;
  border-radius: 12px;
  padding: 40px;
  align-items: center;
  text-align: center;
}
.down-partContent h3 {
  font-size: 40px;
  font-weight: Bold;
  color: #001931;
  margin-bottom: 16px;
}
.down-partContent p {
  font-size: 16px;
  color: #627382;
  line-height: 20px;
  font-weight: Regular;
  margin-top: 16px;
  margin-bottom: 24px;
  align-items: center;
  text-align: center;
}
.down-partContent .last-btn {
  font-size: 16px;
  font-weight: 600;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  margin-top: 24px;
  margin: 0 auto;
  background-color: #469165;
  padding: 16.5px;
  cursor: pointer;
}
.smallP {
  font-size: 16px;
  color: #627382;
  font-weight: Regular;
  margin-bottom: 80px;
}

/* footer start */
.footer-container {
  max-width: 1360px;
  margin: 0 auto;
  padding: 0;
  background-color: #001931;
}
.footer-right h5 {
  font-size: 20px;
  font-weight: 500;
  color: #ffffff;
  margin-bottom: 16px;
}
.footer-flex {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 120px;
  margin-bottom: 80px;
}

.icons ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  gap: 16px;
}
.footer-container p {
  font-size: 14px;
  font-weight: 400;
  color: #fbfcfd;
  text-align: center;
  padding-bottom: 40px;
  padding-top: 30px;
  border-top: 1px solid #465a6c;
}
.footer-img {
  cursor: pointer;
}
